@using System.Globalization
@using CheckYourEligibility.Admin.Boundary.Responses
@using CheckYourEligibility.Admin.Domain.DfeSignIn
@using CheckYourEligibility.Admin.Domain.Enums
@model TieredOutcome

@{
    ViewData["Title"] = "Children eligible";
    var orgType = TempData["organisationType"] as OrganisationCategory?;

    EligibilityPolicyAssignment fsmPolicy = ViewBag.FreeSchoolMealsPolicy;

    DateTime eligibilityEndDate = Model.EligibilityEndDate != null ? DateTime.ParseExact(
        Model.EligibilityEndDate,
        "yyyy-MM-dd",
        CultureInfo.DefaultThreadCurrentCulture
    ) : DateTime.UtcNow;
}

<div class="govuk-grid-column-full">
    @Html.ActionLink("Back", "Enter_Details", "Check", null, new { @class = "govuk-back-link backLinkJS" })

    <div id="content" data-type="Eligible_LA" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title"
                        id="govuk-notification-banner-title">
                        Children eligible for @Model.Tier free school meals
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    @if (@Model.Tier == CheckEligibilityExpandedTier.targeted.ToString())
                    {
                        <h3 class="govuk-notification-banner__heading">
                            The children of @Model.ParentGuardian.FirstName @Model.ParentGuardian.LastName are eligible for free school meals and additional support.
                        </h3>
                    }
                    else if (@Model.Tier == CheckEligibilityExpandedTier.expanded.ToString())
                    {
                        <h3 class="govuk-notification-banner__heading">
                            The children of @Model.ParentGuardian.FirstName @Model.ParentGuardian.LastName are eligible for free school meals only.
                        </h3>
                    }
                    else
                    {
                        <h3 class="govuk-notification-banner__heading">
                            The children of @Model.ParentGuardian.FirstName @Model.ParentGuardian.LastName are eligible for free school meals.
                        </h3>
                    }
                </div>
            </div>

            <h2 class="govuk-heading-m">Eligibility details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Status</dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var tagColour = Model.Tier == CheckEligibilityExpandedTier.targeted.ToString() ? "purple" : "green";
                        }
                        <strong class="govuk-tag govuk-tag--@tagColour tag-wider">
                            Eligible @Model.Tier
                        </strong>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Eligibility end date</dt>
                    <dd class="govuk-summary-list__value">@eligibilityEndDate.ToString("dd MMMM yyyy")</dd>
                </div>
            </dl>

            @if (orgType == OrganisationCategory.LocalAuthority)
            {
                <p class="govuk-body">This information should be passed on to their school.</p>
            }
            else if (orgType == OrganisationCategory.MultiAcademyTrust)
            {
                <p class="govuk-body">This information should be passed on to their academy.</p>
            }

            <p class="govuk-body">The result of this check is valid for the academic year @(eligibilityEndDate.AddYears(-1).Year) to @(eligibilityEndDate.Year). You must complete annual rechecks to confirm ongoing eligibility.</p>

            <div class="no-print">
                <p class="govuk-body">
                    @Html.ActionLink("How and when to complete annual rechecks", "Rechecks", "Home", null, new { @class = "govuk-link" })

                    @if (fsmPolicy.EligibilityCriteria == EligibilityCriteria.expanded.ToString())
                    {
                        <div class="govuk-inset-text">
                            <p><strong>Targeted and expanded free school meals</strong></p>

                            <p>From the start of the 2026 to 2027 academic year, there will be 2 categories of eligibility for free school meals:</p>
                            <p>
                                <strong class="govuk-tag govuk-tag--purple tag-wider">Eligible @CheckEligibilityExpandedTier.targeted.ToString():</strong>
                                this covers children in households in receipt of Universal Credit with annual household earnings of £7,400 or less.
                                These children will attract pupil premium and other disadvantage funding for their schools.
                                Other education entitlements, such as the holiday activities and food programme (HAF) and the ‘extended rights’ element of school travel assistance, will be based on targeted free school meals.
                            </p>
                            <p>
                                <strong class="govuk-tag govuk-tag--green tag-wider">Eligible @CheckEligibilityExpandedTier.expanded.ToString():</strong>
                                this covers children who are in households receiving Universal Credit with annual household earnings exceeding £7,400.
                                Children will be entitled to free school meals only.
                            </p>
                            <p>
                                For more information, read
                                <a href="https://www.gov.uk/government/publications/free-school-meals-guidance-for-schools-and-local-authorities" class="govuk-link" target="_blank" rel="noopener noreferrer">
                                    Free school meals: guidance for schools and local authorities.
                                </a>
                            </p>
                        </div>
                    }
                </p>
            </div>

            <div class="no-print">
                <p class="govuk-body">
                    You can
                    <a href="#" id="print-link" class="govuk-link">print this page</a>
                    for the parent or guardian to keep.
                </p>
            </div>

            <div class="no-print">
                <div class="govuk-button-group">
                    @if (TempData["organisationRole"].Equals(OrgRole.enhanced))
                    {
                        @Html.ActionLink("Continue to add child details", "Enter_Child_Details", "Check", null, new { @class = "govuk-button" })
                    }
                    @Html.ActionLink("Do another check", "Enter_Details", "Check", null, new { @class = "govuk-link" })
                </div>
            </div>
        </div>
    </div>
</div>