@using CheckYourEligibility.Admin.Domain.DfeSignIn
@model ParentGuardian

@{
    ViewData["Title"] = "Run a check for one parent or guardian";
    var orgType = TempData["organisationType"] as OrganisationCategory?;
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("Index", "Home")">Back</a>

    @if (!ViewData.ModelState.IsValid)
    {
        <partial name="_ValidationSummaryParent" model="ViewData.ModelState" />
    }

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">Enter the details of the parent or guardian who applied for free school meals.</p>
    <form asp-controller="Check" asp-action="Enter_Details" method="post">
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <label class="govuk-label" for="FirstName">
                    First name
                </label>
                <p class="govuk-error-message">
                    <span asp-validation-for="FirstName"></span>
                </p>
                <input class="govuk-input govuk-input--width-20 @(ViewData.ModelState["FirstName"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                       asp-for="FirstName" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="LastName">
                    Last name
                </label>
                <p class="govuk-error-message">
                    <span asp-validation-for="LastName"></span>
                </p>
                <input class="govuk-input govuk-input--width-20 @(ViewData.ModelState["LastName"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                       asp-for="LastName" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="EmailAddress">
                    Email address (optional)
                </label>
                <p class="govuk-error-message">
                    <span asp-validation-for="EmailAddress"></span>
                </p>
                <input class="govuk-input govuk-input--width-20 @(ViewData.ModelState["EmailAddress"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                       asp-for="EmailAddress" type="text">
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <h1 id="dob-heading" class="govuk-label-wrapper">
                        <span class="govuk-label govuk-label--m">
                            Date of birth
                        </span>
                    </h1>

                    <div id="dob-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </div>

                    <p class="govuk-error-message" id="dob-error">
                        <span asp-validation-for="DateOfBirth" class="govuk-error-message"></span>
                    </p>

                    <span id="dob-hint-day" class="govuk-visually-hidden">For example 31</span>
                    <div class="govuk-date-input"
                         id="DateOfBirth"
                         role="group"
                         aria-labelledby="dob-heading"
                         aria-describedby="dob-hint dob-error">

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="DateOfBirth.Day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["DateOfBirth.Day"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                                       asp-for="Day"
                                       id="DateOfBirth.Day"
                                       aria-describedby="dob-hint-day"
                                       type="text"
                                       inputmode="numeric"
                                       maxlength="2" />
                            </div>
                        </div>

                        <span id="dob-hint-month" class="govuk-visually-hidden">For example 3</span>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="DateOfBirth.Month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewData.ModelState["DateOfBirth.Month"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                                       asp-for="Month"
                                       id="DateOfBirth.Month"
                                       aria-describedby="dob-hint-month"
                                       type="text"
                                       inputmode="numeric"
                                       maxlength="2" />
                            </div>
                        </div>

                        <span id="dob-hint-year" class="govuk-visually-hidden">For example 1980</span>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="DateOfBirth.Year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 @(ViewData.ModelState["DateOfBirth.Year"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                                       asp-for="Year"
                                       id="DateOfBirth.Year"
                                       aria-describedby="dob-hint-year"
                                       type="text"
                                       inputmode="numeric"
                                       maxlength="4" />
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="NationalInsuranceNumber">
                        National Insurance number
                    </label>
                </h1>

                <div id="NIN-hint" class="govuk-hint">
                    For example, ‘QQ 12 34 56 C’
                </div>

                <p class="govuk-error-message">
                    <span asp-validation-for="NationalInsuranceNumber"></span>
                </p>

                <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing @(ViewData.ModelState["NationalInsuranceNumber"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                       id="NationalInsuranceNumber"
                       aria-describedby="NIN-hint"
                       asp-controller="Check"
                       asp-for="NationalInsuranceNumber"
                       type="text"
                       spellcheck="false"
                       autocomplete="text">
            </div>

            @if (!(orgType == OrganisationCategory.Establishment))
            {
                <p class="govuk-body">
                    @Html.ActionLink("Parent or guardian is an asylum seeker", "AsylumCheck", "Home", null)
                </p>
            }

            <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
                Perform check
            </button>
        </fieldset>
    </form>
</div>

<script src="/js/validationSummary.js"></script>