@using CheckYourEligibility.Admin.Boundary.Responses
@using CheckYourEligibility.Admin.Domain.DfeSignIn
@using CheckYourEligibility.Admin.Domain.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Guidance";

    var expandKey = "";
    if (ViewData["Expand"] != null)
    {
        expandKey = (string)ViewData["Expand"];
    }

    var orgType = TempData["organisationType"] as OrganisationCategory?;
    bool expandedEnabled = ViewBag.FreeSchoolMealsPolicy.EligibilityCriteria == EligibilityCriteria.expanded.ToString();

    var SchoolCanReviewEvidence = Model.SchoolCanReviewEvidence;
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    @if (
        orgType == OrganisationCategory.LocalAuthority
        ||
        orgType == OrganisationCategory.MultiAcademyTrust
        )
    {
        <h2 class="govuk-heading-m">Run a check</h2>
        <p><a href="@Url.Action("AsylumCheck", "Home")">How to complete checks when the parent or guardian is an asylum seeker</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    }

    <h2 class="govuk-heading-m">Run a batch check</h2>
    <p><a href="@Url.Action("BatchCheck", "Home")">Running a batch check</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Rechecks</h2>
    <p><a href="@Url.Action("Rechecks", "Home")">Guidance for completing annual rechecks</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    @if (expandedEnabled)
    {
        <h2 class="govuk-heading-m">Targeted and expanded free school meals</h2>
        <p><a href="@Url.Action("Expansion", "Home")">Free school meals: guidance for schools and local authorities</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    }

    @if (!(orgType == OrganisationCategory.Establishment && SchoolCanReviewEvidence == false))
    {
        <h2 class="govuk-heading-m">Reviewing supporting evidence</h2>
        <p><a href="@Url.Action("EvidenceGuidance", "Home")">Reviewing evidence provided by the parent or guardian</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    }
</div>
