@{
    ViewData["Title"] = "You can use this test service";
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">The school you selected is included in the test service.</p>

    <p class="govuk-body">@ViewData["SchoolName"] @ViewData["SchoolLA"] @ViewData["SchoolPostcode"]</p>
    
    <a href="@Url.Action("Enter_Details", "Check")" class="govuk-button" data-module="govuk-button">
        Check your eligibility
    </a>

    <p class="govuk-body">
        <a href="@Url.Action("SchoolList", "Home")" class="govuk-link">Check another school</a>
    </p>
</div>
