@{
    ViewData["Title"] = "You can use this test service";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("SchoolList", "Home")">Back</a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body-l">The school you selected is included in the test service.</p>

    <div class="govuk-inset-text">
        @ViewData["SchoolName"] <br />
        @ViewData["SchoolLA"] <br />
        @ViewData["SchoolPostcode"]
    </div>
    
    <div class="govuk-button-group">
    <a href="@Url.Action("Enter_Details", "Check")" class="govuk-button" data-module="govuk-button">
        Check your eligibility
    </a>

    <p class="govuk-body">
        <a href="@Url.Action("SchoolList", "Home")" class="govuk-link">Check another school</a>
    </p>
</div>
</div>
