@model CheckYourEligibility.Admin.ViewModels.SelectPersonEditorViewModel

<tr>
    @Html.HiddenFor(model => model.Person.Id)
    @if (Model.ShowSelectorCheck)
    {
        <td class="govuk-checkboxes__item moj-multi-select__checkbox centerer">
            @Html.CheckBoxFor(model => model.Selected, new { aria_label = "select " + Model.Person.Reference })
        </td>
    }
    else
    {
        <td></td>
    }
    <td class="govuk-table__cell">
        @Html.ActionLink(Model.Person.Reference, Model.DetailView, "application", new { id = Model.Person.Id }, new { @class = "govuk-link" })
    </td>

    <td class="govuk-table__cell">@(Model.Person.ParentFirstName + " " + Model.Person.ParentLastName)</td>
    <td class="govuk-table__cell">@(Model.Person.ChildFirstName + " " + Model.Person.ChildLastName)</td>
    @if (Model.ShowParentDob)
    {
        <td class="govuk-table__cell">@Convert.ToDateTime(Model.Person.ParentDateOfBirth).ToString("d MMM yyyy")</td>
    }
    else
    {
        <td class="govuk-table__cell">@Convert.ToDateTime(Model.Person.ChildDateOfBirth).ToString("d MMM yyyy")</td>
    }
    @if (Model.ShowSchool)
    {
        <td class="govuk-table__cell">@(Model.Person.Establishment.Name)</td>
    }
    else
    {
        <td class="govuk-table__cell">
            <strong class="govuk-tag @Model.Person.Status.GetApplicationStatusColor(Model.Person.Tier)">
                @Model.Person.Status.GetApplicationStatusDescription(Model.Person.Tier)
            </strong>
        </td>
    }
    <td class="govuk-table__cell">@Model.Person.Created.ToString("d MMM yyyy")</td>


</tr>