@model CheckYourEligibility.Admin.ViewModels.ApplicationDetailViewModel

@{
    ViewData["Title"] = Model.ParentName;
    bool restored = (TempData["restored"] as bool?) ?? false;
}

<div class="govuk-grid-column-full">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("SearchResults", "Application")">Back</a>

    @if (restored)
    {
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Record restored
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    The record for <strong>@Model.ParentName</strong> has been restored.
                </h3>
            </div>
        </div>
    }

    @if (@Model.Status.Equals("Archived"))
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    This record has been archived
                </h2>
                <div class="govuk-error-summary__body">
                    <p>You can no longer make changes to this record.</p>
                </div>
            </div>
        </div>
    }

    <div class="moj-page-header-actions">

        <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        </div>
        <div class="moj-page-header-actions__actions">
            <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
                    @if (Model.Status.Equals("Archived"))
                    {
                        @Html.ActionLink("Restore record", "ApplicationRestoreSend", "application", new { id = Model.Id }, new { @class = "govuk-button govuk-button--secondary moj-button-menu__item" })
                    }
                    else
                    {
                        @Html.ActionLink("Archive record", "ArchiveConfirmation", "application", new { id = Model.Id }, new { @class = "govuk-button govuk-button--secondary moj-button-menu__item" })
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.Status.Equals("EvidenceNeeded"))
    {
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p class="govuk-heading-s">Once you've received evidence from this parent or guardian:</p>
                    <ol class="govuk-list govuk-list--number">
                        <li>
                            Send it to your local authority contact along with the application reference number.
                            Typically this would happen via email.
                        </li>
                        <li>
                            Select ‘Send for review’ on this page. This will notify the local authority that the free
                            school meals application is ready for their attention.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    }
    @Html.Partial("ApplicationDetailPartial", Model)
</div>