@model CheckYourEligibility.Admin.ViewModels.ApplicationDetailViewModel

@{
    ViewData["Title"] = Model.ParentName;
}

<div class="govuk-grid-column-full">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("FinaliseApplications", "Application")">Back</a>

    @if (@Model.Status.Equals("Archived"))
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    This record has been archived
                </h2>
                <div class="govuk-error-summary__body">
                    <p>You can no longer make changes to this record.</p>
                </div>
            </div>
        </div>
    }

    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        </div>
        <div class="moj-page-header-actions__actions">
            <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
                    @if (Model.Status.Equals("Archived"))
                    {
                        @Html.ActionLink("Restore record", "ApplicationRestoreSend", "application", new { id = Model.Id }, new { @class = "govuk-button govuk-button--secondary moj-button-menu__item" })
                    }
                    else
                    {
                        @Html.ActionLink("Archive record", "ArchiveConfirmation", "application", new { id = Model.Id }, new { @class = "govuk-button govuk-button--secondary moj-button-menu__item" })
                    }
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("ApplicationDetailPartial", Model)
</div>